body {
  background: url("../2040.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  align-self: center;
  text-align: center;
  margin: 50px;
  font-family: "Montagu Slab", serif;
  background-color: white;
  border-radius: 20px;
}

p {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Montagu Slab", serif;
  font-size: 20px;
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 20px;
  margin-left: 60px;
  margin-right: 60px;
}

h3 {
  text-align: center;
  font-family: "Montagu Slab", serif;
  background-color: white;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
}

.caixa {
  display: flex;
  justify-content: center;
}

.personagem1 {
  background: rgb(57, 168, 57);
  border: solid 4px;
  border-radius: 40px;
  margin: 50px;
  padding: 20px;
}

.personagem1:hover {
  transform: scale(1.05);
}

.personagem2 {
  background: rgb(57, 168, 57);
  border: solid 4px;
  border-radius: 40px;
  margin: 50px;
}

.personagem2:hover {
  transform: scale(1.05);
}

.personagem3 {
  background: rgb(57, 168, 57);
  border: solid 4px;
  border-radius: 40px;
  margin: 50px;
}

.personagem3:hover {
  transform: scale(1.05);
}

div button {
  display: flex;
  align-self: center;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family: "Montagu Slab", serif;
}
